<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TKENGG" connectionString="Data Source=AMARJITSARMA-I5;Initial Catalog=TKENGG;User ID=sa;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=11"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>